exportPattern("^[[:alpha:]]+")
S3method(plot, iqResids)
S3method(plot, learnIQ1cm)
S3method(plot, learnIQ1main)
S3method(plot, learnIQ1var)
S3method(plot, learnIQ2)
S3method(plot, qLearnS1)
S3method(plot, qLearnS2)
S3method(default, iqResids)
S3method(default, learnIQ1)
S3method(default, learnIQ1cm)
S3method(formula, learnIQ1cm)
S3method(default, learnIQ1main)
S3method(formula, learnIQ1main)
S3method(default, learnIQ1var)
S3method(formula, learnIQ1var)
S3method(default, learnIQ2)
S3method(formula, learnIQ2)
S3method(default, qLearnS1)
S3method(formula, qLearnS1)
S3method(default, qLearnS2)
S3method(formula, qLearnS2)
S3method(summary, learnIQ1cm)
S3method(summary, learnIQ1main)
S3method(summary, learnIQ1var)
S3method(summary, learnIQ2)
S3method(summary, qLearnS1)
S3method(summary, qLearnS2)
S3method(summary, value)
S3method(default, value)