exportPattern("^[[:alpha:]]+")
S3method(plot, iqResids)
S3method(plot, learnIQ1cm)
S3method(plot, learnIQ1main)
S3method(plot, learnIQ1var)
S3method(plot, learnIQ2)
S3method(plot, qLearnS1)
S3method(plot, qLearnS2)
S3method(iqResids, default)
S3method(learnIQ1, default)
S3method(learnIQ1cm, default)
S3method(learnIQ1cm, formula)
S3method(learnIQ1main, default)
S3method(learnIQ1main, formula)
S3method(learnIQ1var, default)
S3method(learnIQ1var, formula)
S3method(learnIQ2, default)
S3method(learnIQ2, formula)
S3method(qLearnS1, default)
S3method(qLearnS1, formula)
S3method(qLearnS2, default)
S3method(qLearnS2, formula)
S3method(summary, learnIQ1cm)
S3method(summary, learnIQ1main)
S3method(summary, learnIQ1var)
S3method(summary, learnIQ2)
S3method(summary, qLearnS1)
S3method(summary, qLearnS2)
S3method(summary, value)
S3method(value, default)
S3method(print, summary.learnIQ1cm)
S3method(print, summary.learnIQ1main)
S3method(print, summary.learnIQ1var)
S3method(print, summary.learnIQ2)
S3method(print, summary.qLearnS1)
S3method(print, summary.qLearnS2)
S3method(print, summary.value)
importFrom("graphics", "par", "plot")
importFrom("stats", "lm", "model.frame", "model.matrix", "model.response", "pnorm", "qqline", "qqnorm", "sd")